body {
    margin: 0px;
    font-family: Arial, sans-serif;
}


.header {
    background-color: rgb(22, 96, 96);
    overflow: hidden;
    padding: 0 30px;
}

.nav-logo {
    float: left;
    color: rgb(237, 233, 233);
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
}

.navbar {
    float: right;
}



.navlinks {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.navlinks li {
    float: left;
}

.navbar a {
    text-decoration: none;
    color: white;
}


img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.header {
    background-color: rgb(140, 183, 173);
    overflow: hidden;
    padding: 0 30px;




}

.finedining {
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

.subheader {
    font-size: 50px;
}

.extrayap {
    display: flex;
    align-items: center;

    font-size: 100px;
}

.btn {

    text-decoration: none;
    color: rgb(50, 52, 55);
    background-color: rgb(213, 210, 210);


}

.btn-outlined {
    text-decoration: none;
    color: rgb(50, 52, 55);
    background-color: rgb(213, 210, 210);


}

.bgcolor {
    background-image: url(resturant.jpeg);
}