body {
    margin: 0px;
    font-family: Arial, sans-serif;
}


.header {
    background-color: rgb(22, 96, 96);
    overflow: hidden;
    padding: 0 30px;
}

.nav-logo {
    float: left;
    color: rgb(237, 233, 233);
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
}

.navbar {
    float: right;
}



.navlinks {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.navlinks li {
    float: left;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
}


img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.header {
    background-color: rgb(140, 183, 173);
    overflow: hidden;
    padding: 0 30px;




}

.finedining {
    background-color: rgb(207, 214, 212);
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

.subheader {
    font-size: 50px;
}

.extrayap {
    display: flex;
    align-items: center;

    font-size: 100px;
}

.btn { 

    text-decoration: none;
    color: rgb(50, 52, 55);
    background-color: rgb(213, 210, 210);


}

.btn-outlined {
    text-decoration: none;
    color: rgb(50, 52, 55);
    background-color: rgb(213, 210, 210);


}

.bgcolor {
    background-image: url(resturant.jpeg);
}

.headchef {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-left: 100px;

}

.about {
    background-color: rgb(217, 223, 222);
    display: flex;
    justify-content: center;
    color: #fffdfd;
    font-family:sans-serif;
    

}

.headchef {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: rgb(61, 57, 57);
}

.lenny.png { 
width: 10px;
height: 10px;

}

.origin {
    display: flex;
    margin-bottom: 100px;
    padding-bottom: 100px;
   align-self: flex-start;
   color: rgb(144, 163, 180);
}


.quotes { 
    display: flex;
    margin-top: 500px;
    padding-top: 500px;
    justify-content: center;
    
}

.about { 
    display: flex;
    padding-left: 200px;
    justify-content: flex-start;
}